extends layout

block content
  a(href='/') 
    h1= title
  p 
    h4 don't throw it away.. make someone happy..
    h3 main
  .container
    .row
      .col
        .gift-box
          .photo-box
      .col
        h4 definition
    .row
      .col
        .gift-box
          .photo-box
      .col
        h4 definition
    .row
      .col
        .gift-box
          .photo-box
      .col
        h4 definition 