extends layout

block content
  h1= title
  p 
    h4 don't throw it away.. make someone happy..
  .container
    .row
      .col
        img.d-inline-block.align-top(src='/images/zuV_logo.png' width= height='300' alt='')
      .col
        .row-500
          h3 
            a(href='/give') give Stuff 
        .row-120
          h3 
            a(href='/take') take Stuff